/* Reset  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Common */
header{
    background-color: red;
    margin: auto;
    background-color: #3161e0;
    height: 70px;
    padding-top: 30px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
    }

    #logo{
        text-align: right;
    }

    #accedi{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

.col{
    float: left;
    vertical-align: middle;
}

.col-25 {
    width: 25%;
    }

.col-50 {
    width: 50%;
    
    }    


.btn{
    height: 40px;
    border-radius: 15px;
    padding: 8px 15px;
    background-color: white;
    text-decoration: none;
    color: black;
}

ul{
    text-align: center;
}
header li{
    display: inline;
    padding: 30px;
}

header div nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.main-header{
    position: relative;
}

#first-page{
    background-image: url(../img/jumbo.png);
    width: 100;
    height: 100vh;
}
