/* Reset  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Common */

html{
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    background-color: red;
    margin: auto;
    background-color: #3161e0;
    height: 70px;
    padding-top: 30px;
}

.section{
    position: relative;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
    }

    #logo{
        text-align: right;
    }

    #accedi{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

.col{
    float: left;
    vertical-align: middle;
}

.col-20 {
    width: 20%;
    }

.col-60 {
    width: 60%;  
    }    

 .col-60 {
     width: 50%;  
     }    
h1{
    font-size: 60px;
}
.btn{
    border-radius: 30px;
    padding: 15px 25px;
    background-color: white;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

ul{
    text-align: center;
}

header li{
    display: inline;
    padding: 30px;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.main-header{
    position: relative;
}

#first-page{
    background-image: url(../img/jumbo.png);
    background-size: 80%, 80%;
    background-size: cover;

}

main section div p{
    line-height: 150%;
    font-size: 25px;
    margin-top: 50px;
}

#black{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

main li{
    margin-top: 40px;
    margin-right: 40px;
    display: inline-block;
}

main a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.visualizzazione{
    width: 100vw;
    height: 100vh;
}